@model Kinoteka.Models.ShowCast

@{
	ViewBag.Title = "RemoveCastMember";
}

<h2>Remove a cast member for the following movie: </h2>
<h4>@Model.show.title</h4>

@using (Html.BeginForm("RemoveCastMember", "Shows"))
{
	<div class="form-group">
		@Html.DropDownListFor(a => a.actorId, new SelectList(Model.show.cast, "id", "name"), new { @class = "form-control" })

		@Html.HiddenFor(s => s.showId)
	</div>

	<div class="form-group">
		<button type="submit">Remove actor to the cast</button>
	</div>

}